<%= form_for @team do |f| %>
  <% if @team&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited
        this team from being saved:</h2>
      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="d-flex justify-content-center align-middle table table-sm table-responsive table-hover table-bordered table-striped table-dark">
    <tr>
      <th scope="col">Name</th>
    </tr>

    <tr>
      <td><%= f.text_field :name, class: 'text-center', placeholder: 'Michael' %></td>
    </tr>
  </table>

  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>
