<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
<script type="text/javascript" src="millionaire.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">
<script>
    var question = '<%= @question[:question] %>';
    var a = '<%= @question[:a] %>';
    var b = '<%= @question[:b] %>';
    var c = '<%= @question[:c] %>';
    var d = '<%= @question[:d] %>';
    var answer = '<%= @question[:answer] %>';
    var fiftyfifty1 = '<%= @fiftyfifty[0] %>';
    var fiftyfifty2 = '<%= @fiftyfifty[1] %>';
    var fiftyFiftyUsed = '<%= @user.fifty_fifty.to_s %>';
    var phoneAFriendUsed = '<%= @user.phone_a_friend %>';
    var askTheTeamUsed = '<%= @user.ask_the_team %>';
    console.log("Question: " + question);
    console.log("A: " + a);
    console.log("B: " + b);
    console.log("C: " + c);
    console.log("D: " + d);
    console.log("Answer: " + answer);
    console.log("fiftyFiftyUsed: " + fiftyFiftyUsed);
    console.log("phoneAFriendUsed: " + phoneAFriendUsed);
    console.log("askTheTeamUsed: " + askTheTeamUsed);
</script>

<%= render 'nav' %>

<div class="row" id="main-row" style="padding: 40px">

  <div class="col" id="main-cols">
    <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
      <h1>Scoreboard</h1>
    </div>

    <div class="row" id="main-row" style="padding: 20px">
      <div class="col" id="main-cols">
        <div class="row" style="padding-left: 40px; padding-right: 40px; padding-bottom: 30px;">
          <ul>
            <% @scoreboard.each_with_index do |score, i| %>
              <ui><strong><%= "#{i + 1}: " %></strong><%= "$#{score.score} - #{score.name}" %></ui><br>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" style="padding-left: 20px;">
      <div class="col" id="main-cols">
        <%= form_with :url => new_scoreboard_path(@login), :html => {:method => :get} do %>
          <%= hidden_field_tag :user, @user.id %>
          <%= hidden_field_tag :money, @money[:number] %>
          <%= hidden_field_tag :fifty_fifty, @user.fifty_fifty %>
          <%= hidden_field_tag :phone_a_friend, @user.phone_a_friend %>
          <%= hidden_field_tag :ask_the_team, @user.ask_the_team %>

          <%= button_tag(type: "submit", :class => "btn btn-success") do %> Correct? <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col" id="main-cols">
    <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
      <h1>Millionaire!!!</h1>
    </div>

    <div class="row" id="main-row" style="padding: 20px">

      <div class="col" id="main-cols">
        <div class="row" style="padding-left: 40px; padding-right: 40px; padding-bottom: 30px;">
          <h2><%= @user[:name] %></h2>
          <h4>Current streak: <%= @user[:score_multiplier]%></h4>
          <h4><%= "for £#{@money[:word]}"%></h4>
        </div>

        <div class="row" style="padding-left: 40px; padding-right: 40px; padding-bottom: 30px;">
          <h2><%= @question[:question] %></h2>
        </div>

        <div class="row" style="padding-left: 80px; padding-right: 80px;">
          <div class="row" style="padding-left: 80px; padding-right: 80px;">
            <div class="row" >
              <button type="button" id="btnQuestion1" class="btn btn-primary"><%= @question[:a] %></button>
            </div>
            <div class="row">
              <button type="button" id="btnQuestion2" class="btn btn-primary"><%= @question[:b] %></button>
            </div>
            <div class="row">
              <button type="button" id="btnQuestion3" class="btn btn-primary"><%= @question[:c] %></button>
            </div>
            <div class="row">
              <button type="button" id="btnQuestion4" class="btn btn-primary"><%= @question[:d] %></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="main-row" style="padding: 20px">
      <div class="col" id="main-cols">
        <div class="row" style="padding-left: 80px; padding-right: 80px;">
          <div class="row" style="padding-left: 80px; padding-right: 80px;">
            <div class="row">
              <button type="button" id="powerUpFiftyFifty" class="btn btn-info">50-50</button>
            </div>
            <div class="row">
              <button type="button" id="powerUpPhoneAFriend" class="btn btn-info">Phone a friend</button>
            </div>
            <div class="row">
              <button type="button" id="powerUpAskTheTeam" class="btn btn-info">Ask the team</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col" id="main-cols">
    <div class="row" style="padding-top: 40px; padding-bottom: 40px;">
      <h1>Nominations</h1>
    </div>

    <div class="row" id="main-row" style="padding: 20px">
      <div class="col" id="main-cols">
        <div class="row" style="padding-left: 40px; padding-right: 40px; padding-bottom: 30px;">
          <ul>
            <% @nominations.each do |nomination| %>
              <ui><strong><%= "#{nomination.formatted_date}: " %></strong><%= "#{nomination.user&.name}" %></ui><br>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="row" style="padding-left: 20px;">
      <div class="col" id="main-cols">
        <%= form_for @nominations, :url => nomination_index_path(@login), :html => {:method => :post} do %>
          <%= hidden_field_tag :user, @user.id %>
          <%= button_tag(type: "submit", :class => "btn btn-danger") do %> Nominated <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
