<%= form_for @user do |f| %>
  <% if @user&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited
        this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="d-flex justify-content-center align-middle table table-sm table-responsive table-hover table-bordered table-striped table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Team</th>
      <th scope="col">Score</th>
    </tr>

    <tr>
      <td><%= f.text_field :name, class: 'text-center', placeholder: 'Michael' %></td>
      <td><%= f.select :team_id, options_for_select(Team.all.map { |t| [t.name, t.id] }) %></td>
      <td><%= f.text_field :score, class: 'text-center', placeholder: 0 %></td>
    </tr>
  </table>

  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>
