<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TimelineMax.min.js"></script>
<script type="text/javascript" src="home.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:800" rel="stylesheet">

<%= render 'nav' %>

<div class="row" style="padding-top: 40px; padding-bottom: 40px;">
  <h1>Who's here today?</h1>
</div>

<%= form_for @users, :url => spins_path, :html => {:method => :get} do %>
  <table class="d-flex justify-content-center align-middle table table-responsive table-hover table-bordered table-striped table-dark">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><input type="checkbox" name="user_ids[]" value="<%= user.id %>" checked></td>
      </tr>
    <% end %>
  </table>

  <%= button_tag(type: "submit", :class => "btn btn-success") do %> Select <% end %>
<% end %>

