<%= form_for @nomination do |f| %>
  <% if @nomination&.errors&.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nomination.errors.count, "error") %> prohibited
        this nomination from being saved:</h2>
      <ul>
        <% @nomination.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="d-flex justify-content-center align-middle table table-sm table-responsive table-hover table-bordered table-striped table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
    </tr>

    <tr>
      <% if @nomination.user_id.nil? %>
        <td><%= f.select :user_id, options_for_select(User.all.sort_by(&:name).map { |t| [t.name, t.id] }) %></td>
      <% else %>
        <td><%= f.select :user_id, options_for_select(User.all.sort_by(&:name).map { |t| [t.name, t.id] }, selected: User.all.find(@nomination.user_id).id) %></td>
      <% end %>

      <td><%= select_date @nomination.date || Date.today, :prefix => :date %></td>
    </tr>
  </table>

  <p>
    <%= f.submit class: 'btn btn-success' %>
  </p>
<% end %>
