<!DOCTYPE html>
<html>
  <head>
    <title>Wheel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

<!--  <body style="background: #efbe3d">-->
  <body class="bg-dark text-white">
    <%= yield %>
  </body>
</html>
